@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

#app {
  width: 70%;
  margin: 0 auto;
}

/* change order list */
#test {
  color: red;
}

/*for hover div tooltip make visible*/

.tooltip {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.risk-alert:hover .tooltip {
  visibility: visible;
  opacity: 0.85
}

.tooltip-arrow {
  border-left: 15px solid transparent; /* Half of the base width */
  border-right: 15px solid transparent; /* Half of the base width */
  border-top: 20px solid #DD2727; /* Height of the triangle, and color */
  opacity: 0.85;
}
